<div class='row'> 
  <%= form_for :create_user, url: give_action_path, method: :put  do |u| %>
    <div class='col-md-6 col-md-offset-3'>  
    <h1 class='text-center'>Give To<br><h5 class='text-center'>Please Choose From The Dropdown Menu Below</h5> <%= u.collection_select :fundraiser_name, User.order(:business_name),:business_name,:business_name, include_blank: false %></h1>
      <div class='row'> 
        <div class='col-md-6'>  
          <div class='form-group'>  
            <%= u.text_field :legal_name, placeholder: 'Name On Card', class: 'text-center form-control', required: true%>
          </div>
        </div>
        <div class='col-md-6'>  
          <div class='form-group'>  
            <%= u.text_field :card_number, placeholder: 'Credit Card Number', class: 'text-center form-control', required: true, minlength: 16, maxlength: 16%>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>    
          <div class='form-group'>  
            <%= u.text_field :exp_month, placeholder: "Month: #{DateTime.now.to_date.strftime('%m')}", class: 'text-center form-control', minlength: 2, maxlength: 2, required: true %>
          </div>
        </div>
        <div class='col-md-4'>  
          <div class='form-group'>  
            <%= u.text_field :exp_year, placeholder: "Year: #{Time.now.year}", class: 'text-center form-control', minlength: 4, maxlength: 4, required: true, value: params[:exp_year]%>
          </div>
        </div>
        <div class='col-md-4'>    
          <div class='form-group'>  
            <%= u.text_field :cvc_number, placeholder: 'Enter CVC Number: 433', class: 'text-center form-control', minlength: 3, maxlength: 4, required: true%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class='col-md-6'>
          <div class="form-group">
            <%= u.number_field :stripe_amount, placeholder: "Donation Amount", class: 'text-center form-control'%>
          </div>
        </div>
        <div class='col-md-6'>
          <div class="form-group">
            <%= u.text_field :phone_number, placeholder: "Phone Number", class: 'text-center form-control'%>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>    
          <div class='form-group'>  
            <%= u.text_field :username, placeholder: "Username (No Spaces): donor_1", class: 'text-center form-control', required: true%>
          </div>
        </div>
        <div class='col-md-6'>    
          <div class='form-group'>  
            <%= u.email_field :email, placeholder: 'Enter Email Address', class: 'text-center form-control', required: true %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>    
          <div class='form-group'>  
            <%= u.password_field :password, placeholder: 'Enter Desired Password', class: 'text-center form-control', required: true %>
          </div>
        </div>
        <div class='col-md-6'>    
          <div class='form-group'>  
            <%= u.password_field :password_confirm, placeholder: 'Re-enter Desired Password', class: 'text-center form-control', required: true %>
          </div>
        </div>
      </div>
      <div class='actions form-group'>
        <%= u.submit "Donate", class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>