<div class='container'>
  <div class='row'>    
    <div class="wrapper wrapper-content">
      <h1>
        <%= @merchant.username %>
      </h1>
      <%= link_to "Donate To #{@merchant.username}!",  "#direct_donate", 'data-toggle' => 'modal', class: 'btn btn-info' %>
      <h4>
        <%= link_to @merchant.bitly_link, @merchant.bitly_link, 'target' => "_blank"  %>
      </h4>
      <% @goals.each do |goal| %>
        <div class="col-md-3">
          <div class="ibox">
            <div class="ibox-content product-box">
              <div class="product-imitation">
                <%= image_tag(goal.goal_image.url(:p400x400)) %>
              </div>
              <div class="product-desc">
                <span class="product-price">
                  Goal: <%= number_to_currency(goal.goal_amount, precision: 2) %>
                </span>
                <span class="product-backers">
                  Donations: <%= goal.backers %>
                </span>
                <a class="product-name"> <%= goal.title %></a>
                <div class="small m-t-xs text-justify">
                  <%= goal.description.truncate(50, omission: '...' )%>
                </div>
                <div class="m-t">
                  <div class'row'>
                    <%= link_to "VIEW", "##{goal.uuid}", class: 'btn btn-primary col-md-12', 'data-toggle' => 'modal' %>
                  </div>
                </div>
                <% if policy(goal).edit? %>  
                  <div class="m-t">
                    <div class='row form-group text-center'>
                      <%= link_to 'Edit', edit_fundraising_goal_path(goal), class: 'btn btn-warning col-md-12 col-xs-12 col-sm-12' %>
                    </div>
                  </div>
                  <div class="m-t">
                    <div class='row form-group text-center'>
                        <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger col-md-12 col-xs-12 col-sm-12' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModal" id="<%= goal.uuid %>">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h1> Review Donation Of <strong><em><u><%= goal.title %></u></em></strong></h1>
                <h3>By: <%= link_to goal.user.username.titleize, merchant_path(goal.user.username) %></h3>
              </div>
              <%= form_for :donate, :url => purchases_path(merchant_id: goal.user.id, uuid: goal.uuid), method: :post do |f| %>
                <% if current_user %>  
                  <div class="modal-body">
                    <div class="container-fluid">  
                      <div class="col-md-9">
                        <h1>HI</h1>
                      </div>
                      <div class="col-md-3 text-center">
                        <h4>One Time Donation</h4>
                        <div class='form-group'>  
                          <%= f.radio_button(:donation_type, "One Time")%>   One Time Donation<br>
                        </div>
                        <div class='form-group'>  
                          <%= f.number_field :donation, min: 0, class: 'form-control text-center', placeholder: "Enter Donation Amount", step: 'any' %>
                        </div>
                        <% if goal.user.donation_plans.present? %>
                          <div class='form-group'>  
                            <h1>Or</h1>
                            <h4>Monthly Donation</h4>
                            <% goal.user.donation_plans.each do |plan| %>
                              <% if !current_user.donations.where(active: true).map(&:stripe_subscription_id).include?(plan.uuid) %>
                                <div class='row'>
                                  <%= f.radio_button(:donation_type, "#{plan.uuid}")%>  <%= number_to_currency(plan.amount, precision: 2) %>/month
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer actions">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Donate Now", class: 'btn btn-primary' %>
                  </div>
                <% else %>
                  <h1>Please Sign-up to Donate</h1>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='direct_donate'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> Direct Donation To <%= @merchant.username.capitalize %></h1>
            </div>
            <%= form_for :donate, :url => purchases_path(merchant_id: @merchant.id), method: :post do |f| %>
              <% if current_user %>  
                <div class="modal-body">
                  <div class="container-fluid">  
                    <div class="col-md-8 col-md-offset-2 text-center">
                      <h4>One Time Donation</h4>
                      <div class='form-group'>  
                        <%= f.radio_button(:donation_type, "One Time")%>   One Time Donation<br>
                      </div>
                      <div class='form-group'>  
                        <%= f.number_field :donation, min: 0, class: 'form-control text-center', placeholder: "Enter Donation Amount" %>
                      </div>
                      <% if @merchant.donation_plans.present? %>
                        <div class='form-group'>  
                          <h1>Or</h1>
                          <h4>Monthly Donation</h4>
                          <% @merchant.donation_plans.each do |plan| %>
                            <% if !current_user.donations.where(active: true).map(&:stripe_subscription_id).include?(plan.uuid) %>
                              <div class='row'>
                                <%= f.radio_button(:donation_type, "#{plan.uuid}")%>  <%= number_to_currency(plan.amount, precision: 2) %>/month
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="modal-footer actions">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                  <%= f.submit "Donate Now", class: 'btn btn-primary' %>
                </div>
              <% else %>
                <h1>Please Sign-up to Donate</h1>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>