<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-right">
        <% if current_user %>
          <% if !current_user.stripe_plan_id %>  
            <%= link_to "Plans", plans_path %> |
          <% end %>
          Hello <%= link_to (current_user.email), edit_user_registration_path %>!
          <% if current_user.admin? %>
            <li>
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Pending <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Pending Goals", pending_goals_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Pending Accounts", pending_path %></li>
                </ul>
              </div>
            </li>
          <% end %>
        <% else %>
          <%= link_to "Plans", plans_path %> |
          <%= link_to "Sign In", new_user_session_path %> or 
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
        <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
        </li>
    </ul>
  </nav>
</div>