<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ENV["MARKETPLACE_NAME"] %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if fundraising_goals_path && current_user %>
      <!-- Inspinia -->
        <link href="/assets/footable.core.css" rel="stylesheet">
        <link href="/assets/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="/assets/animate.css" rel="stylesheet">
        <link href="/assets/style.css" rel="stylesheet">
        <script src="/assets/jquery-2.1.1.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        <script src="/assets/jquery.metisMenu.js"></script>
        <script src="/assets/jquery.slimscroll.min.js"></script>
        <script src="/assets/inspinia.js"></script>
        <script src="/assets/pace.min.js"></script>
        <script src="/assets/jquery-ui.min.js"></script>
        <script src="/assets/wow.min.js"></script>
    <% else %>

      <!-- Foundry -->

        <link href="/assets/et-line-icons.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        
        <link href="/assets/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>

        <script src="/assets/f_jquery.min.js"></script>
        <script src="/assets/f_bootstrap.min.js"></script>
        <script src="/assets/f_flexslider.min.js"></script>
        <script src="/assets/f_masonry.min.js"></script>
        <script src="/assets/f_ytplayer.min.js"></script>
        <script src="/assets/f_smooth-scroll.min.js"></script>
        <script src="/assets/f_scripts.js"></script>
    <% end %>
  </head>
  <% if fundraising_goals_path && current_user %>
    <body class='mini-navbar'>
      <div id="wrapper">
        <%= render 'layouts/navigation'%>
        <div id="page-wrapper" class="gray-bg">
          <%= render 'layouts/topnavbar' %>
          <div class="container">
            <% if flash[:notice] %>
              <div class="text-center alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3 class="tex-center"><%= flash[:notice] %></h3>
              </div>
            <% elsif flash[:error] %>
              <div class="text-center alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3 class="tex-center"><%= flash[:error] %></h3>
              </div>
            <% elsif flash[:alert] %>
              <div class="text-center alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h3 class="tex-center"><%= flash[:alert] %></h3>
              </div>
            <% end %>
          </div>
          <%= yield %>
          <%= render 'layouts/footer' %>
        </div>
      </div>
      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='create_member'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> New Team Member</h1>
            </div>
            <%= form_for :member, url: bank_accounts_path, method: :post do |f| %>
              <div class="modal-body">
                <div class="row">  
                  <h5 class='text-center'>Team members are for organizations that need to split revenue amonsts themselves, employees,<br> or departments. Each 'Team Member' will have their own bank account in which the <br>percentage of revenue designated below will be transferred.</h5>
                  <hr>
                  <div class='row'>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Name Of Member</h4>
                        <%= f.text_field :name, class: 'form-control text-center', required: true, placeholder: 'Jane G Doe' %>
                      </div>
                    </div>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Members Role</h4>
                        <%= f.text_field :role, class: 'form-control text-center', required: true, placeholder: 'Head Of Marketing' %>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Account Number</h4>
                        <%= f.text_field :acct_num, class: 'form-control text-center', required: true, placeholder: '000123456789' %>
                      </div>
                    </div>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Routing Number</h4>
                        <%= f.text_field :rout_num, class: 'form-control text-center', required: true, placeholder: '110000000' %>
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Country Code</h4>
                        <%= f.text_field :country, class: 'form-control text-center', required: true, placeholder: 'US', maxlength: 2 %>
                      </div>
                    </div>
                    <div class='col-md-6'>  
                      <div class='form-group'>  
                        <h4 class='text-center'>Percent Of Revenue</h4>
                        <%= f.number_field :percent, class: 'form-control text-center', required: true, placeholder: '25', step: 'any' %>
                        <%= f.hidden_field :uuid, class: 'form-control text-center', value: SecureRandom.uuid %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer actions">
                <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                <%= f.submit "Create Member", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='create_dplan'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> New Donation Plan</h1>
            </div>
            <%= form_for :dplan, url: plans_path, method: :post do |f| %>
              <div class="modal-body">
                <div class="row">  
                  <div class='col-md-8 col-md-offset-2'>
                    <div class='form-group'>  
                      <h4 class='text-center'>Name Of Plan</h4>
                      <%= f.text_field :name, class: 'form-control text-center', required: true, placeholder: 'Test Plan' %>
                    </div>
                    <div class='form-group'>  
                      <h4 class='text-center'>Monthly Donation Amount</h4>
                      <%= f.number_field :amount, class: 'form-control text-center', required: true, placeholder: '25', step: 'any' %>
                      <%= f.hidden_field :uuid, class: 'form-control text-center', value: SecureRandom.uuid %>
                    </div>
                  </div>
              </div>
              </div>
              <div class="modal-footer actions">
                <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                <%= f.submit "Create Plan", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='fund_info'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1 class='text-center'> Fundraising Information</h1>
            </div>
            <div class="modal-body">
              <div class='row text-center'>
                <h2><u>Phone Number For Donations:</u></h2> <h3><%= ENV['TWILIO_NUMBER'] %> </h3>
              </div>
              <div class='row text-center'>
                <h2><u>One-Time Donation Text:</u> </h2> <h3>3 test_username </h3>
              </div>
              <div class='row text-center'>
                <h2><u>Monthly Donation Text:</u></h2> <h3>3 test_username monthly</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='text_blast'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1> Text Message Blast (<%= current_user.text_lists.count %>)</h1>
            </div>
            <%= form_for :text_blast, url: twilio_text_blast_path, method: :put do |f| %>
              <div class="modal-body">
                <div class="row">  
                  <div class='col-md-8 col-md-offset-2 form-group'>
                    <h4 class='text-center'>Enter You Text Below</h4>
                    <%= f.text_area :message, class: 'form-control', required: true %>
                  </div>
                </div>
                <div class="text-center actions">
                  <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                  <%= f.submit "Send Text", class: 'btn btn-success' %>
                </div>
              </div>
            <% end %>
            <%= form_tag notifications_import_numbers_path, multipart: true do %>
              <div class="modal-body">
                <hr>
                <div class="row"> 
                  <div class='col-md-8 col-md-offset-2'>
                    <h4 class='text-center'>Import Phone Numbers</h4>
                    <div class='form-group'>
                      <%= file_field_tag :file, class: 'form-control' %>
                    </div>
                    <div class='form-group'>
                      <%= submit_tag "Import", class: 'btn btn-primary form-control'  %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal inmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id='email_blast'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h1> Email Blast (<%= current_user.email_lists.count %>)</h1>
            </div>
            <%= form_for :email_blast, url: twilio_email_blast_path, method: :put do |f| %>
              <div class="modal-body">
                <div class="row">  
                  <div class='col-md-8 col-md-offset-2'>
                    <div class="row">  
                      <div class='col-md-6'>  
                        <div class='form-group'>
                          <h4 class='text-center'>From</h4>
                          <%= f.text_field :email_from, class: 'form-control', required: true, disabled: true, value: current_user.support_email %>
                        </div>
                      </div>
                      <div class='col-md-6'>  
                        <div class='form-group'>
                          <h4 class='text-center'>Email Subject</h4>
                          <%= f.text_field :subject, class: 'form-control', required: true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">  
                      <h4 class='text-center'>Email Body</h4>
                      <%= f.text_area :body, class: 'form-control', required: true %>
                    </div>
                  </div>
                </div>
                <div class="text-center actions">
                  <%= link_to "Cancel", '#', class: 'btn btn-danger', 'data-dismiss' => 'modal'%>
                  <%= f.submit "Send Email", class: 'btn btn-success' %>
                </div>
              </div>
            <% end %>
            <%= form_tag notifications_import_emails_path, multipart: true do %>
              <div class="modal-body">
                <hr>
                <div class="row"> 
                  <div class='col-md-8 col-md-offset-2'>
                    <h4 class='text-center'>Import Emails</h4>
                    <div class='form-group'>
                      <%= file_field_tag :file, class: 'form-control' %>
                    </div>
                    <div class='form-group'>
                      <%= submit_tag "Import", class: 'btn btn-primary form-control'  %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </body>
  <% else %>  
      <body>
        <div class="nav-container">
          <% if flash[:notice] %>
            <div class="text-center alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h3 class="tex-center"><%= flash[:notice] %></h3>
            </div>
          <% elsif flash[:error] %>
            <div class="text-center alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h3 class="tex-center"><%= flash[:error] %></h3>
            </div>
          <% elsif flash[:alert] %>
            <div class="text-center alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h3 class="tex-center"><%= flash[:alert] %></h3>
            </div>
          <% end %>
        <nav>
            <div class="nav-bar">
                <div class="module left">
                    <a href="/">
                      <h4>Raise4It</h4>
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li>
                                <a href="#services">Features</a>
                            </li>
                            <li>
                              <%= link_to "Login", new_user_session_path, class: 'btn btn-sm' %>
                            </li>
                            <li>
                              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-sm signup' %>
                            </li>
                        </ul>
                    </div>                    
                </div>
                
            </div>
        </nav>    
</div>
        <%= yield %>
      </body>
  <% end %>
</html>